.container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1a1a1a;
  color: aliceblue;
  font-family:  var(--gray-alpha-100);
  line-height: 34px;
  font-size: 20px;
  
}

/* Define a class for the responsive image */
.responsiveImage {
  width: 100%;         /* Default to full width */
  height: auto;
  padding-bottom: 20px;        /* Maintain aspect ratio */
}

/* Media query for larger screens */
@media (min-width: 600px) {
  .responsiveImage {
    width: 500px;      /* Set a fixed width for larger screens */
  }
}

/* Media query for smaller screens */
@media (max-width: 599px) {
  .responsiveImage {
    width: 200px;      /* Smaller width for mobile devices */
  }
}
