.container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1a1a1a;
  color: aliceblue;
  font-family:  var(--gray-alpha-100);
  line-height: 34px;
  font-size: 20px;
  
}

.responsiveImage {
  width: 100%;        
  height: auto;
  padding-bottom: 20px;        
}

/* larger screens */
@media (min-width: 600px) {
  .responsiveImage {
    width: 500px;      
  }
}

/* smaller screens */
@media (max-width: 599px) {
  .responsiveImage {
    width: 200px;      
  }
}
